:root {
  background: #fefefe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
}

.center{
  text-align: center;
  margin: 0 auto;
}

h2{
    font-size: 1.5rem;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "PT Sans", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  background: url(./assets/pics/together-2450090_960_720.jpeg) center center
    no-repeat, gray;
  background-size: cover;
  min-height: 400px;
  padding: 1rem;
}

header a {
  color: white;
  text-decoration: none;
  font-size: clamp(1.2rem, 1.7vw, 1.7rem);
}

header #logo{
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-weight: bold;
}

nav ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

nav a:hover{
  text-decoration: underline;
}

.container {
  width: clamp(300px, 80vw + 1rem, 1200px);
  margin: 0 auto;
}

#call-to-action {
	text-align: center;
	font-style: italic;
	width: clamp(300px, 55vw + 1rem, 1200px);
}

#call-to-action #top-text {
  font-weight: 700;
  font-size: 1.5rem;
}

#call-to-action #bottom-text {
  color: #3c78d8;
  font-size: 1.4rem;
  font-weight: bold;
}

main {
  display: grid;
  grid-template-columns: 60% 40%;
  justify-items: center;
}
#inner-text {
  max-width: 64ch;
}

#inner-text p {
  font-size: 1.25rem;
}

@media only screen and (max-width: 760px){
  main.container{
    grid-template-columns: 1fr;
  }
}

#contact {
	display: flex;
	flex-direction: column;
	width: 100%;
	background: #d8d8d8;
	padding-bottom: 1rem;
	background: rgb(212,212,212);
	background: linear-gradient(180deg, rgba(212,212,212,1) 8%, rgba(255,255,255,1) 100%);
	border-top: 1px solid black;
}

#contact-form {
  display: flex;
  flex-direction: column;
  width: clamp(1rem, 50vw + 1rem, 35rem);
  margin: 0 auto;
}

#contact-form .columns{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#contact-form label{
  font-weight: bold;
}

#contact-form span{
  font-weight: normal;
}

#contact-form input, #contact-form textarea{
  margin-bottom: 1rem;
  border-radius: .25rem;
}

#contact-form input:invalid, #contact-form textarea:invalid{
  border: 2px solid red;
}

#contact-form textarea{
  height: 150px;
}

#contact-form button{
  width: fit-content;
  margin: 0 auto;
  border-radius: 1rem;
  background-color: #3c78d8;
  color: white;
  border: 1px solid #3c78d8;
  padding: .25rem 1rem;
  font-size: 1.25rem;
}

#contact-form button:hover{
  color: #3c78d8;
  background-color: #fff;
}

footer {
  margin: 5% 0;
  min-height: 100px;
  display: flex;
  justify-content: center;
}
